body {
    background-image: url(../img/background.jpg);
    /* background-size:     contain; */
    background-repeat:   no-repeat;
    /* background-position: center center; */
    background-size: 100%;
  }

#flag {
    height: 40px;
}

.slimcard{
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.slimbotron {
    /* min-height: 100%;
    min-height: 100vh; */
    padding: 2rem 2rem;
    /* display: flex;
    align-items: center; */
}

.padding-down {
    padding-bottom: 1rem;
}

.alert-top {
	top:50px;
	width:100%;
	text-align: center;
	margin-bottom: 0;
    padding:10px;
    display: none;
}

.hidden {
    display: none;
}

.weiter {
    margin-top: auto;
    margin-bottom: auto;
}