{% extends "base.html" %} {% load static %} {% block title %}Quiz{% endblock title %} {% block javascript %}
<script src="{% static 'js/alerts.js' %}"></script> {% endblock javascript %} {% block stylesheet %} {% endblock stylesheet %} {% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-2">
    <div class="jumbotron">
      <ul class="list-group">
        <li class="list-group-item" id='ExNNS'>Übung 1: Der Nominativ</li>
        <li class="list-group-item" id='ExAAS'>Übung 2: Der Akkusativ</li>
        <li class="list-group-item disabled" id='ExGGS'>Übung 3: Der Genitiv</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="jumbotron slimbotron">
      <div class="container">
        <h1>
          <p class="text-center padding-down js-german">Wird geladen...</p>
        </h1>
      </div>
      <hr>
      <form id="answer_form" method="post" novalidate autocomplete="off">
        {% csrf_token %} {% include 'includes/form.html' %}
        <button type='submit' class="btn btn-primary btn-block" id='checkbtn' disabled>Abschicken</button>
      </form>
    </div>

    <div class="alert alert-danger" role="alert">
      Das war leider falsch!
      <button type="button" class="btn btn-danger float-sm-right btn-sm weiter">Weiter</button>
    </div>

    <div class="alert alert-success" role="alert">
      Das war richtig!
      <button type="button" class="btn btn-success float-sm-right btn-sm weiter">Weiter</button>
    </div>

  </div>
</div>
{% endblock %} {% block breadcrumb %} Quiz / {{ type }} {% endblock breadcrumb %}