{% extends "base.html" %} {% load static %} {% block title %}Quiz{% endblock title %} {% block javascript %}
<script src="{% static 'js/alerts.js' %}"></script> {% endblock javascript %} {% block stylesheet %} {% endblock stylesheet %} {% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-4">
    <div class="jumbotron">
      <ul class="list-group">
        <a href="{% url 'exercise' kind='ExNNS' %}" class="list-group-item list-group-item-action" id='ExNNS'>Übung 1: Der Nominativ</a>
        <a href="{% url 'exercise' kind='ExAAS' %}" class="list-group-item list-group-item-action" id='ExAAS'>Übung 2: Der Akkusativ</a>
        <a href="{% url 'exercise' kind='ExLNS' %}" class="list-group-item list-group-item-action" id='ExLNS'>Übung 3: Der Lokativ</a>
        <a href="{% url 'exercise' kind='ExIIV' %}" class="list-group-item list-group-item-action" id='ExIIV'>Übung 4: Der Infinitiv</a>
        <li class="list-group-item disabled">Übung 5: Die Konjugation</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="jumbotron slimbotron">
      <div class="container">
        <h1>
          <p class="text-center padding-down js-german">Wird geladen...</p>
        </h1>
      </div>
      <hr>
      <form id="answer_form" method="post" novalidate autocomplete="off">
        {% csrf_token %} {% include 'includes/form.html' %}
        <button type='submit' class="btn btn-primary btn-block" id='checkbtn' disabled>Abschicken</button>
      </form>
    </div>

    <div class="alert alert-danger" role="alert">
      Das war leider falsch! Richtig wäre gewesen:
      <span id="correct_answer"></span>
      <button type="button" class="btn btn-danger float-sm-right btn-sm weiter">Weiter</button>
    </div>

    <div class="alert alert-success" role="alert">
      Das war richtig!
      <button type="button" class="btn btn-success float-sm-right btn-sm weiter">Weiter</button>
    </div>

  </div>
</div>
{% endblock %} {% block breadcrumb %} Quiz / {{ kind }} {% endblock breadcrumb %}