{% extends 'accounts/base_accounts.html' %}

{% block title %}
    {% if validlink %}
        Passwort für {{ form.user.username }} zurücksetzen
    {% else %}
        Passwort zurücksetzen
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card">
            <div class="card-body">
            {% if validlink %}
                <h3 class="card-title">Passwort für Nutzer {{ form.user.username }} zurücksetzen</h3>
                <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success btn-block">Passwort ändern</button>
                </form>
            {% else %}
                <h3 class="card-title">Passwort zurücksetzen</h3>
                <div class="alert alert-danger" role="alert">
                Scheinbar haben Sie einen falschen Link angeklickt. Bitte versuchen Sie es nochmal!
                </div>
                <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Neuen Link zum Zurücksetzen beantragen</a>
            {% endif %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}