{% extends 'accounts/base_accounts.html' %}

{% block title %}Passwort erfolgreich geändert!{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Passwort ändern</a></li>
    <li class="breadcrumb-item active">Erfolg</li>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-success" role="alert">
                            <strong>Erfolg!</strong> Ihr Passwort wurde geändert!
                        </div>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Zurück zur Startseite</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}