Hallo,

Jemand bat das Passwort zur Emailadresse {{ email }} zurückzusetzen.
Bitte folgen Sie diesem Link:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Für den Fall, dass Sie Ihren "Learn Czech"-Benutzernamen vergessen haben: {{ user.username }}

Falls klicken auf den obigen Link nicht funktionieren sollte, können Sie die Adresse auch
kopieren und in ein neues Browserfenster einfügen.

Falls Sie keine Zurücksetzung Ihres Passworts beantragt haben sollten, ist es wahrscheinlich,
dass ein anderer Benutzer unbeabsichtigt Ihren Benutzernamen eingegeben hat als er sein Passwort
zurücksetzen wollte. In diesem Fall müssen Sie nichts weiter unternehmen und können diese Email
ignorieren.

Vielen Dank und mit freundlichen Grüßen,

Ihr "Learn Czech"-Team